<% 
    filterStatusHelper =(linkPrefix,statusFilter,search)=>{
        let xhtmlResult ='';
        statusFilter.forEach((item)=>{
            let link = linkPrefix+'status/'+item.value;    
            if(search!=='' && search!== undefined) link +='?search='+search;
            xhtmlResult+=`<a class="btn m-b-sm btn-${item.class} btn-sm" href="${link}">
                ${item.name.toUpperCase()+"("+ item.count + ")"}
            </a> `;
        })
        return xhtmlResult;
    }
%>