<% 
    sortHelper =(collection,name,sortField,sortFieldCurrent, sortTypeCurrent,options)=>{
        let order = (sortTypeCurrent == 'asc')?'desc':'asc';
        let link =systemConfig.prefixAdmin + '/' + collection +'/' + 'sort/' + sortField +'/'+order;
        let icon = '<i class="fa fa-fw fa-sort"></i>';
        let style1 = (options !== undefined)?`style="${options}"`:'';
        if(sortField == sortFieldCurrent){
            icon = `<i class="fa fa-fw fa-sort-${sortTypeCurrent}"></i>`;

        }

        let xhtmlResult =`
        <th class="text-center pointer ${style1}"><a href="${link}" class="title-col">${name} ${icon}
                                    </a></th>`;
        return xhtmlResult;
    }
%>